[Unit]
Description=Arcane

[Service]
WorkingDirectory=/home/ec2-user/go-app
ExecStart=/home/ec2-user/go-app/arcane
Restart=on-failure
User=ec2-user

[Install]
WantedBy=multi-user.target
